rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if isOwner(userId)
        && request.resource.data.uid == userId;
      allow read: if isOwner(userId);
      allow update: if isOwner(userId)
        && request.resource.data.uid == resource.data.uid;
      allow delete: if false;
    }

    match /profiles/{userId} {
      allow read: if request.auth != null;
      allow create: if isOwner(userId)
        && request.resource.data.userId == userId;
      allow update: if isOwner(userId)
        && request.resource.data.userId == resource.data.userId;
      allow delete: if isOwner(userId);
    }

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
  }
}
